:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
    color: var(--color-dark-text);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-headings);
}

.main-header-container {
    background: var(--color-primary-dark);

}

.container {
    margin: 0 auto;
    max-width: 144rem;
}

.main-header{
    padding: var(--spacing-gutter-medium);
}

.main-brand{
    text-decoration: none;
    font-size: 4rem;
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.main-brand-icon{
    margin-right: 2rem;
}

.search-form{
    border: 0.2rem solid var(--color-primary-dark);
    max-width: 64rem;
    margin: 3rem auto;
    position: relative;
    border-radius: 0.4rem;
    transition: all 300ms ease-in-out;
}

.search-input, .search-button{
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.search-input{
    width: 100%;
    padding-right: 3rem;
}
.search-button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1.7rem;
   
}
.search-button:focus{
    outline: 0.1rem solid var(--color-primary);
    background-color: rgba(0,0,0,0.05);
}

.search-form:focus-within{
    border-color: var(--color-primary);
    background-color: var(--color-white);
    
}
.search-form:focus-within .search-button{
    color: var(--color-primary);
}

.main-content{
    padding: 3.5rem;
    padding-top: 0;
}

.main-content-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    gap: var(--spacing-gutter-large);
}

.recipe{
    background: var(--color-white);
    box-shadow: -0.5rem 0.5rem 1rem rgba(0,0,0,0.2);
    transition: all 300ms ease-in-out;
    border-radius: 0.6rem;
    overflow: hidden;
}

.recipe img{
    max-width: 100%;
}

.recipe-cover img{
    width: 100%;
    max-height: 48rem;
    min-height: 36rem;
}

.recipe-list-item{
    max-width: 64rem;
    height: fit-content;
}

.recipe-list-item:hover{
    box-shadow: -0.8rem 0.8rem 1.8rem rgba(0,0,0,0.25);
    transform:  scale(1.02);
}

.recipe-title-container{
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem;
}

.recipe-title-container a{
    text-decoration: none;
    color: var(--color-dark-text);
}

.recipe-author{
    padding: 0 var(--spacing-gutter-medium);
}

.recipe-author-item{
    padding: 0.5rem ;
    color: var(--color-gray-4);
    font-style: italic;
}

.recipe-author-item a{
    color: var(--color-primary-dark);
    text-decoration: none;
    
}

.recipe-author-item a:hover{
    color: var(--color-primary-hover);
}

.recipe-author-text{
    padding: 2rem var(--spacing-gutter-medium);
    padding-top: 2rem;
}

.recipe-meta-container{
    display: flex;
    flex-flow: row wrap;
    gap: 12rem;
    justify-content: center;
    text-align: center;
    padding: var(--spacing-gutter-medium);
    background-color: var(--color-gray-1);
}

.recipe-meta-text{
    padding-top: 0.5rem;
    color: var(--color-gray-9);
}

.recipe-read-more{
    background: var(--color-primary-dark);
    color: var(--color-white);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 2rem var(--spacing-gutter-medium);
    transition: all 300ms ease-in-out;
    display: block;
    bottom: 0;

}

.recipe-read-more:hover{
    background: var(--color-gray-4);
}

.preparation-steps{
    padding: var(--spacing-gutter-medium);
}

.main-content-detail .recipe-list-item{
    max-width: 84rem;
    margin: 0 auto;
}

.main-content-detail .recipe-list-item:hover{
    box-shadow: -0.5rem 0.5rem 1rem rgba(0,0,0,0.2);
    transform:  scale(1);
}
.main-footer{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    background: var(--color-primary-dark);
    height: 5rem;
    align-items: center;
}

.main-footer-no-recipes{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    background: var(--color-primary-dark);
    height: 5rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.developer, .powered{
    text-decoration: none;
    color: var(--color-white);
    padding: 0 3rem;
    font: var(--font-primary);
    font-size: 1.3rem;
}

.developer a, .powered a{
    text-decoration: none;
    color: var(--color-white);
    transition: all 300ms ease-in-out;
}

.developer a, .powered a{
    color: var(--color-primary-hover);
}

.preparation-steps h1,
.preparation-steps h2,
.preparation-steps h3,
.preparation-steps h4,
.preparation-steps h5,
.preparation-steps h6,
.preparation-steps p,
.preparation-steps pre
.preparation-steps div
.preparation-steps span{
    margin: 2rem
}
.preparation-steps ol,
.preparation-steps ul{
    margin: 2rem;
    padding: 0 3rem;
}

.pagination-content{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0.5rem;
    justify-content: center;
}

.pagination .page-item{
    background-color: var(--color-gray-3);
    padding: 0.5rem 1rem;
}

.pagination .page-link{
    text-decoration: none;
    background-color: var(--color-primary-hover);
    color:  var(--color-white);
    transition: all 300ms ease-in-out;
    
}

.pagination .page-link:hover{
    background-color: var(--color-primary-dark-hover);

}

.pagination .page-current{
    background-color: var(--color-primary-dark-hover);
}


/* Forms */

.form-content{
    max-width: 64rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-gutter-medium);
}
.form-content-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: calc(var(--spacing-gutter-medium)/2.5) var(--spacing-gutter-medium);
}

.form-content label, .form-content .help-text, .errorlist{
    display: block;
    margin: 1rem 0;
    font-size: 1.4rem;
    list-style: none;
}
.form-content label{
    color: var(--color-primary-dark);
}

.errorlist{
    color: var(--color-error-dark);
}

.form-content input{
    padding: 1rem ;
    width: 100%;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--color-primary-dark);
}

.form-content button{
    padding: 1rem 2rem;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.form-content button:hover{
    color: var(--color-primary-dark);
    background-color: var(--color-white);
}

.inline-form{
    display: inline;
}

.text-button{
    border: none;
    background: none;
    color: var(--color-primary);
    font-size: 1.6rem;
    cursor: pointer;
}

.message-loggedin{
    margin-top: 2rem;
}
/* Messages */

.messages-content{
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing-gutter-medium)/2);
}
.message {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
}
  
.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}
  
.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}
  
.message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
}
.message-info {
    border: 1px solid var(--color-info-dark);
    background: var(--color-info-light);
    color: var(--color-info-dark);
}
  
.message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
}

/* generics */

.center{
    text-align: center;
}

.m-x{
    margin: 0 var(--spacing-gutter-medium);
}

.m-y{
    margin: var(--spacing-gutter-medium) 0;
}

@media (max-width: 60rem){
    .main-content-list, .form-content-grid{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}